<div class="boxChart__container">
	<div>
		<highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
			[options]="mapChartOptions" [callbackFunction]="mapChartCallback" [(update)]=updateFromInput
			[oneToOne]="true" class="boxChart__map">
		</highcharts-chart>
	</div>
	<div>
		<ng-container *ngIf="selectedContinents.length > 0">
			<highcharts-chart id="info" [Highcharts]="Highcharts" [constructorType]="infoChartConstructor"
				[options]="continentDetailsOptions" [callbackFunction]="continentDetailsCallback"
				[(update)]=updateContinentDetails [oneToOne]="true" class="boxChart__continent-details" style="height: 100%; display: block; margin: auto;">
			</highcharts-chart>
		</ng-container>
		<ng-container *ngIf="selectedContinents.length === 0">
			<h2 style="width: 100%; height: 100%; display: block; margin: auto; text-align: center; font-family: Arial, Helvetica, sans-serif;">Select a country to display details...
			</h2>
		</ng-container>
	</div>
</div>
<ng-container *ngIf="selectedCountry !==''">
	<highcharts-chart id="country" [Highcharts]="Highcharts" [constructorType]="countryChartConstructor"
		[options]="countryDetailsOptions" [callbackFunction]="countryDetailsCallback"
		[(update)]=updateCountryDetails [oneToOne]="true" style="width: 90vw; height: 45vh; display: block; margin: auto;">
	</highcharts-chart>
</ng-container>
<ng-container *ngIf=" selectedContinents.length > 0 && selectedCountry === ''">
	<h2 style="width: 90vw; height: 45vh; display: block; margin: auto; text-align: center; font-family: Arial, Helvetica, sans-serif;">Select a country to display details...
	</h2>
</ng-container>